* {
  border: none;
  list-style: none;
}

:root {
  --text-color: #1B1C57;
  --p-color: #a7a8b0;
  --btn-color: #047857;
  --btn_bg-color: #D1FAE5;
  --hover-color: #10B981;
  --pepol-color: #fff;
  --populer-bg: #FEE2E2;
  --populer-txt: #EF4444;
  --house-bg: #DBEAFE;
  --house-txt: #1D4ED8;
  --villa-btn:#888B97;
  --carousel-item: #0E1735;
}

body {
  font-family: "Lexend", sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

section {
  padding: 70px;
}

header {
  position: absolute;
  width: 100%;
}
header .sticky {
  width: 100%;
  position: fixed;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  scroll-behavior: smooth;
  z-index: 999999;
}

.navbar {
  z-index: 99999;
}
.navbar .navbar-nav .nav-link:hover {
  color: var(--hover-color);
}
.navbar .navbar-nav .nav-link .About, .navbar .navbar-nav .nav-link .Artical, .navbar .navbar-nav .nav-link .Property {
  border: 1px solid var(--pepol-color);
  border-radius: 100px;
  margin: 10px;
  padding: 8px 15px !important;
}
.navbar .navbar-nav button.SignUp {
  margin-left: 30px !important;
  padding: 8px 15px !important;
  color: var(--green-700, --btn-color);
  background-color: var(--green-100, var(--btn_bg-color));
  border: none;
  border-radius: 32px;
}

.main-section {
  display: flex;
  margin-top: 50px;
}
.main-section .main-text h1 {
  color: var(--text-color);
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
}
.main-section .main-text span {
  color: var(--pepol-color);
  -webkit-text-stroke: 1px var(--text-color);
}
.main-section .main-text p {
  color: var(--p-color);
  font-size: 16px;
  width: 496px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  margin-top: 24px;
}
.main-section .main-text input[type=text] {
  width: 90%;
  border: 2px solid #E0E3EB;
  border-radius: 50px;
  padding: 15px;
  margin: 8px 0;
}
.main-section .main-text input[placeholder] {
  padding-left: 70px;
  font-size: 14px;
}
.main-section .main-text .inputWithIcon {
  position: relative;
}
.main-section .main-text .inputWithIcon input[type=text] {
  padding-left: 40px;
}
.main-section .main-text .inputWithIcon svg.location {
  position: absolute;
  left: 3px;
  top: 6px;
  padding: 10px 8px;
  margin-left: 15px;
  width: 45px;
  height: 60px;
}
.main-section .main-text .inputWithIcon button {
  display: flex;
  position: absolute;
  width: 100px;
  top: 13px;
  right: 65px;
  color: var(--pepol-color);
  background-color: var(--hover-color);
  border-radius: 50px;
  border: none;
  padding: 10px 16px;
}
.main-section p.Partner {
  margin-bottom: 3px;
}
.main-section .logo-img img {
  height: 64px;
  margin-right: 20px;
  margin-top: 0px;
}
.main-section .main-img img {
  height: 600px;
  position: absolute;
  right: 0;
  top: 0;
}
.main-section .main-img img.red {
  height: 100px;
  position: absolute;
  right: 458px;
  top: 116px;
}
.main-section .main-img img.yellow {
  height: 100px;
  position: absolute;
  right: 104px;
  top: 172px;
}
.main-section .main-img img.blue {
  height: 60px;
  position: absolute;
  right: 100px;
  top: 340px;
}
.main-section .main-img button.pepol {
  background-color: var(--pepol-color);
  z-index: 9999px;
  position: absolute;
  top: 500px;
  right: 305px;
  border-radius: 15px;
  padding: 10px 10px 10px 100px;
  width: 280px;
  text-align: left;
}
.main-section .main-img .button span {
  color: var(--p-color);
  font-size: 12px;
}
.main-section .main-img img.img-1 {
  width: 40px;
  height: 40px;
  border-radius: 50px;
  position: absolute;
  top: 520px;
  right: 500px;
  z-index: 3;
}
.main-section .main-img img.img-2 {
  width: 40px;
  height: 40px;
  border-radius: 50px;
  position: absolute;
  top: 520px;
  right: 520px;
  z-index: 2;
}
.main-section .main-img img.img-3 {
  width: 40px;
  height: 40px;
  border-radius: 50px;
  position: absolute;
  top: 520px;
  right: 540px;
  z-index: 0;
}
.main-section .main-img img.Houses-img {
  width: 40px;
  height: 40px;
  border-radius: 50px;
  position: absolute;
  top: 520px;
  right: 230px;
}
.main-section .main-img button.Houses {
  background-color: var(--pepol-color);
  z-index: 9999px;
  position: absolute;
  top: 500px;
  right: 130px;
  border-radius: 15px;
  padding: 10px 10px 10px 50px;
  width: 150px;
}
.main-section .main-img button.K4 {
  background-color: var(--pepol-color);
  z-index: 9999px;
  position: absolute;
  top: 500px;
  right: -180px;
  border-radius: 15px;
  padding: 10px 10px 10px 50px;
  width: 280px;
}
.main-section .main-img img.K4-img {
  width: 40px;
  height: 40px;
  border-radius: 50px;
  position: absolute;
  top: 520px;
  right: 50px;
}

.featured-nav {
  display: flex;
}
.featured-nav h4 {
  color: var(--text-color);
  margin-right: 200px;
}
.featured-nav .home {
  background-color: var(--green-100, var(--btn_bg-color));
  margin-right: 25px;
  border-radius: 50px;
  padding: 10px 15px;
}
.featured-nav .home button {
  color: var(--green-500, var(--hover-color));
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
}
.featured-nav .villa, .featured-nav .Apartment {
  margin-right: 25px;
  border: 1px solid var(--neutral-300, #E0E3EB);
  border-radius: 50px;
  padding: 10px 15px;
}
.featured-nav .villa:hover, .featured-nav .Apartment:hover {
  background-color: var(--green-100, var(--btn_bg-color));
}
.featured-nav .villa button, .featured-nav .Apartment button {
  color: var(--neutral-500, var(--villa-btn));
  font-family: Lexend;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
}
.featured-nav .villa button:hover, .featured-nav .Apartment button:hover {
  color: var(--green-500, var(--hover-color));
}

.container-fluid .row {
  padding-left: 60px;
  right: 0;
}
.container-fluid .row .owl-carousel {
  position: relative;
}
.container-fluid .row .item .card button.Populer {
  border-radius: 32px;
  background: var(--red-100, var(--populer-bg));
  position: absolute;
  top: 260px;
  left: 15px;
  padding: 8px 16px;
  color: var(--red-500, var(--populer-txt));
  font-family: Lexend;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;
}
.container-fluid .row .item .card button.New-house {
  border-radius: 32px;
  background: var(--blue-100, var(--house-bg));
  position: absolute;
  top: 260px;
  left: 15px;
  padding: 8px 16px;
  color: var(--blue-700, var(--house-txt));
  font-family: Lexend;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;
}
.container-fluid .row .item .card button.Best-Deals {
  border-radius: 32px;
  background: var(--green-100, var(--btn_bg-color));
  position: absolute;
  top: 260px;
  left: 15px;
  padding: 8px 16px;
  color: var(--green-700, var(--btn-color));
  font-family: Lexend;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;
}
.container-fluid .row .item .card h5, .container-fluid .row .item .card h6 {
  color: var(--neutral-900, var(--carousel-item));
  font-family: Lexend;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
  margin-top: 15px;
  margin-left: 15px;
}
.container-fluid .row .item .card .Cameron-img {
  align-items: center;
  display: flex;
}
.container-fluid .row .item .card .Cameron-img h5 {
  color: var(--neutral-900, var(--carousel-item));
  font-family: Lexend;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  margin: 2px;
}
.container-fluid .row .item .card .Cameron-img h6 {
  color: var(--neutral-500, var(--villa-btn));
  font-family: Lexend;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
  margin-top: 2px;
}
.container-fluid .row .item .card .Cameron-img img {
  width: 35px;
  height: 35px;
  border-radius: 50px;
  margin: 10px;
}

.More-Homes {
  text-align: center;
}
.More-Homes .orange {
  width: 32px;
  color: var(--yellow-500, #F59E0B);
  text-align: center;
  justify-content: center;
  text-align: center;
}
.More-Homes p {
  color: var(--yellow-500, #F59E0B);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;
}
.More-Homes h4 {
  color: var(--text-color);
  text-align: center;
  font-family: Lexend;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
  margin-bottom: 25px;
}
.More-Homes button {
  border-radius: 32px;
  background: var(--green-500, var(--hover-color));
  display: inline-flex;
  padding: 12px 16px;
  margin-bottom: 35px;
  align-items: center;
  gap: 16px;
  color: #FFF;
  font-family: Lexend;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px;
}

.container .row .left-sid {
  display: block;
}
.container .row .left-sid .partener {
  display: flex;
  margin-bottom: 20px;
}
.container .row .left-sid .right-img h5 {
  color: var(--mrt-app-headline, #1B1C57);
  font-family: Lexend;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px; /* 177.778% */
  text-transform: capitalize;
  margin-left: 20px;
}
.container .row .left-sid .leftSide-img img {
  width: 200px;
  height: 144px;
}
.container .row .left-sid .right {
  margin-left: 20px;
}
.container .row .left-sid .right h5 {
  color: var(--mrt-app-headline, #1B1C57);
  font-family: Lexend;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px; /* 177.778% */
  text-transform: capitalize;
  margin-top: 10px;
}
.container .row .left-sid .right p {
  color: var(--neutral-500, var(--villa-btn));
  font-family: Lexend;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin-left: 10px;
}
.container .row .left-sid .right .Cameron-img {
  display: flex;
  align-items: center;
  text-align: center;
}
.container .row .left-sid .right .Cameron-img h6 {
  margin-top: 10px;
  color: var(--neutral-700, #3C4563);
  font-family: Lexend;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}
.container .row .left-sid .right .Cameron-img img {
  border-radius: 50px;
  width: 40px;
  height: 40px;
  margin-right: 15px;
}
.container .row .left-sid .right .time {
  display: flex;
}
.container .row .right-side .Cameron-img {
  display: flex;
}
.container .row .right-side .Cameron-img img {
  border-radius: 50px;
  width: 40px;
  height: 40px;
  margin: 20px 20px 20px 0px;
}
.container .row .right-side .Cameron-img h6 {
  color: var(--neutral-700, #3C4563);
  font-family: Lexend;
  margin-top: 28px;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}
.container .row .right-side h5 {
  color: var(--mrt-app-headline, #1B1C57);
  font-family: Lexend;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px; /* 133.333% */
  text-transform: capitalize;
}
.container .row .right-side p {
  color: var(--mrt-app-neutral-01, #626687);
  font-family: Lexend;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.container .row .right-side .time {
  display: flex;
}
.container .row .right-side .time svg {
  margin-right: 7px;
}
.container .row .right-side img.rightSide-img {
  width: 560px;
  height: 280px;
}

.Subscribe {
  overflow: hidden;
  position: relative;
}
.Subscribe .Subscribe-txt h4 {
  color: var(--text-color);
  text-align: center;
  position: absolute;
  top: 120px;
  left: 450px;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 48px;
  text-transform: capitalize;
}
.Subscribe .Subscribe-txt input[type=text] {
  width: 496px;
  box-shadow: 0px 9px 32px 0px rgba(89, 92, 219, 0.05);
  border-radius: 50px;
  position: absolute;
  top: 280px;
  left: 420px;
  padding: 10px 4px 10px 24px;
}
.Subscribe .Subscribe-txt input[placeholder] {
  color: var(--neutral-500, var(--villa-btn));
  font-family: Lexend;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
  padding-left: 45px;
  font-size: 14px;
}
.Subscribe .Subscribe-txt svg {
  position: absolute;
  left: 3px;
  top: 6px;
  padding: 10px 8px;
  margin-left: 15px;
  width: 40px;
  height: 60px;
  top: 270px;
  left: 410px;
}
.Subscribe .Subscribe-txt button {
  padding: 6px;
  align-items: center;
  text-align: center;
  gap: 4px;
  position: absolute;
  width: 160px;
  margin-top: 3px;
  top: 13px;
  right: 60px;
  color: white;
  background-color: var(--hover-color);
  border-radius: 50px;
  border: none;
  top: 280px;
  left: 750px;
}
.Subscribe img.one {
  width: 81px;
  height: 81px;
  border: 3px solid #fff;
  border-radius: 22px;
  position: absolute;
  top: 100px;
  left: 120px;
}
.Subscribe img.two {
  width: 54px;
  height: 54px;
  border: 3px solid #fff;
  border-radius: 22px;
  position: absolute;
  top: 230px;
  left: 260px;
}
.Subscribe img.three {
  width: 40px;
  height: 40px;
  border: 3px solid #fff;
  border-radius: 22px;
  position: absolute;
  top: 150px;
  left: 250px;
}
.Subscribe img.four {
  width: 40px;
  height: 40px;
  border: 3px solid #fff;
  border-radius: 22px;
  position: absolute;
  top: 200px;
  left: 150px;
}
.Subscribe img.five {
  width: 40px;
  height: 40px;
  border: 3px solid #fff;
  border-radius: 22px;
  position: absolute;
  top: 160px;
  right: 150px;
}
.Subscribe img.six {
  width: 40px;
  height: 40px;
  border: 3px solid #fff;
  border-radius: 22px;
  position: absolute;
  top: 190px;
  right: 270px;
}
.Subscribe img.seven {
  width: 70px;
  height: 70px;
  border: 3px solid #fff;
  border-radius: 22px;
  position: absolute;
  top: 90px;
  right: 190px;
}
.Subscribe img.eight {
  width: 55px;
  height: 55px;
  border: 3px solid #fff;
  border-radius: 22px;
  position: absolute;
  top: 260px;
  right: 170px;
}

footer {
  margin-top: 150px;
  position: relative;
}
footer .row-footer {
  display: flex;
  flex-wrap: wrap;
  gap: 70px;
}
footer .row-footer .about p {
  color: var(--mrt-app-neutral-01, #626687);
  font-family: Lexend;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
  opacity: 0.75;
  text-align: left;
  margin-top: 16px;
}
footer .row-footer .social {
  align-items: flex-start;
  display: flex;
  gap: 24px;
  color: #3c4563;
}
footer .row-footer .social img {
  width: 16px;
  height: 16px;
  display: block;
}
footer .footer-col {
  flex-direction: column;
  align-items: flex-start;
}
footer h3 {
  color: var(--neutral-900, var(--carousel-item));
  font-family: Lexend;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
}
footer a {
  color: var(--neutral-500, var(--villa-btn));
  font-family: Lexend;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
  text-decoration: none;
  flex-direction: column;
  align-items: flex-start;
  display: block;
  margin-top: 18px;
  list-style: none;
}/*# sourceMappingURL=main.css.map */